:root {
  color-scheme: light dark;
  --bg-color: #ffffff;
  --primary-color: #a3809a;
  --primary-contrast: #ffffff;
  --primary-shadow: rgba(0, 0, 0, 0.04);
  --secondary-color: rgb(0, 0, 0);
  --secondary-contrast: black;
  --primary-text: #000;
}

[data-theme="dark"] {
  --bg-color: black;
  --primary-color: #71a8ce;
  --primary-contrast: #ffffff;
  --primary-shadow: rgba(0, 0, 0, 0.04);
  --secondary-color: #ffffff;
  --secondary-contrast: #71a8ce;
  --primary-text: #fff;
}



html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--secondary-color);
}

header {
  background: var(--primary-color);
  color: var(--primary-contrast);
  padding: 1rem 0;
}

header h1 {
  text-align: center;
  margin: 0.5rem 0 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

nav ul a {
  color: var(--primary-contrast);
  text-decoration: none;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  padding: 2rem;
}

.hero {
  max-width: 600px;
  text-align: center;
  margin-bottom: 2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 900px;
}

.features article {
  background: var(---secondary-color);
  color: var(--secondary-contrast);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 8px 24px var(--primary-shadow);
}

footer {
  background: var(--primary-color);
  color: var(--primary-contrast);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}